<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../public/css/Products.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/products.css">
    <title>Products</title>
</head>
<body>
    <h2 class="allProducts">All Products</h2>
    <% for(let i=0; i < allProducts.length; i++){%>
        <div class="form">
            <h3 class="h3"><%= allProducts[i].title %></h3>
            <%if(allProducts[i].image.includes('http')){%>
               <div class="testeo"> <img src="<%= allProducts[i].image %>" alt="img" width="150px" height="150px" class="loginBar"></div>
            <%}else{%>
                <div class="testeo"><img src="/images/barimages/<%= allProducts[i].image %>" alt="img" width="150px" height="150px"></div>
            <%}%>
            <p>Precio: <%= allProducts[i].price %></p>
            <p>Descripcion: <%= allProducts[i].description %></p>
            <p>Fecha hasta que estará disponible: <%= allProducts[i].date %> </p>
            
            <form action="/product/delete/<%= allProducts[i].id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
    <%}%>
</body>
</html>