<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/products.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productsStyles.css" >
    <link rel="stylesheet" href="/css/header.css">
    <title>Products</title>
    </head>
<header>
    <%- include ('parcial/header')%>
</header>
<body>
    <h2 class="allProducts">All Products</h2>
    <% for(let i=0; i < productos.length; i++){%>
        <div class="form">
            <h3 class="h3"><%= productos[i].product_name %></h3>
            <%if(productos[i].image.includes('http')){%>
               <div class="testeo"> <img src="<%= productos[i].image %>" class="imgSize" alt="img" class="loginBar"></div>
            <%}else{%>
                <div class="testeo"><img src="/images/barimages/<%= productos[i].image %>" class="imgSize" alt="img" ></div>
            <%}%>
            <p><b>Precio:</b> <%= productos[i].price %> USD</p>
            <p><b>Descripcion:</b> <%= productos[i].description %></p>
            <p><b>Fecha hasta que estará disponible:</b> <%= productos[i].date %> </p>
            
            <% if (req.session.usuarioLogeado !== undefined) { %>
                <% if (req.session.usuarioLogeado.isAdmin == 1) { %>
                    <% console.log(req.session.usuarioLogeado) %>
                    <form action="/product/delete/<%= productos[i].id %>?_method=DELETE" method="POST">
                        <button type="submit" style="margin-top: 10px;">Delete</button>
                    </form>
                <% } %>
            <% } else { %>
                <% console.log(req.session.usuarioLogeado) %>
            <% } %>
            
        </div>
    <% } %>
    
</body>
</html>