<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <link rel="stylesheet" href="/css/registerStyles.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <%- include ('parcial/header')%>
    </header>
    <main>  
        <form method="post" action="/register" enctype="multipart/form-data">
            <div class="formLogin">
                <h2>Regístrate en nuestra aplicación</h2>
                <div>
                    <div>
                        <p class="fontText">Nombre</p>
                    </div>
                    <div> 
                        <input class="loginBar" type="text" name="name" id="" placeholder="Nombre" minlength="2" required>
                    </div>
                    <div>
                        <p class="fontText">Apellido</p>
                    </div>
                    <div>
                        <input class="loginBar" type="text" name="last_name" id="" placeholder="Apellido" minlength="2" required>
                        <% if (locals.errors && errors.surname) { %>
                            <p class="error-message"> <%= errors.surname.msg %></p>
                        <% } %>      
                    </div>
                </div>
                <div>
                    <p class="fontText">Email</p>
                    <div>
                        <input class="loginBar" type="email" name="email" id="" placeholder="Email" required>
                        <% if (locals.errors && errors.Email) { %>
                            <p class="error-message"> <%= errors.Email.msg %></p>
                        <% } %>   
                    </div>
                </div>
                <div>
                    <p class="fontText">Nombre de usuario</p>
                    <div>
                        <input class="loginBar" type="text" name="user_name" id="" placeholder="Nombre de Usuario" required >
                        <% if (locals.errors && errors.userName) { %>
                            <p class="error-message"><%= errors.userName.msg %></p>
                        <% } %>   
                    </div>
                    <div>
                        <p class="fontText">Contraseña</p>
                    </div>
                    <div>
                        <input class="loginBar" type="password" name="password" id="" placeholder="Contraseña" minlength="8" required >
                        <% if (locals.errors && errors.password) { %>
                            <p class="error-message"><%= errors.password.msg %></p>
                        <% } %> 
                    </div>
                </div>
                <div>
                    <label class="fontText" for="avatar">Sube tu imagen de perfil:</label>
                    <input class="fontText" type="file" name="avatar" id="img_validation" accept=".jpg, .jpeg, .png, .gif">
                    <p id="error-message" class="error-message" style="display: none;">Por favor, selecciona un archivo de imagen válido (JPG, JPEG, PNG o GIF).</p>
                </div>
                
                
                
                <div>
                    <input class="checkButtom" type="submit">
                </div>
                <div class="ARAR">
                    <p>¿Ya estás registrado?</p>
                </div>
                <div class="log_in">
                    <p><a href="/login">Inicia sesión aquí</a></p>
                </div>
            </div>
        </form>
    </main>
    <footer>
        
    </footer>
    <script src="/scripts/fileTypeValidation.js"></script>
</body>
</html>
